biopython @ file:///Users/runner/miniforge3/conda-bld/biopython_1676639327377/work
certifi==2022.12.7
llvmlite==0.39.1
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/a9eca864-069c-4240-73c8-4e51b036a10d/volume/mkl_random_1639994047876/work
mkl-service==2.4.0
mpmath==1.3.0
numba @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c92mj5bbmo/croot/numba_1670258342205/work
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_8cgikbzvtd/croot/numpy_and_numpy_base_1672336184666/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sympy==1.11.1
